@media (max-width:1600px ) {
    .descript{
        font-size: 20px;
    }
    .title2{
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .cost{
        font-size: 30px;
    }
    .sales h1{
        font-size: 40px;
    }
    .sales_conteiner{
        padding: 10px;
    }
    table{
        font-size: 45px;
    }


}
@media (max-width: 1366px){
    .type{
        font-size: 20px;
    }


}
@media (max-width: 1090px){
    .title2{
        font-size: 40px;
    }
    .sym {
        font-size: 50px;
    }

}
@media (max-width: 1280px){
    table{
        font-size: 35px;
    }

}
@media (max-width: 1024px){
    table{
        font-size: 25px;
        margin-top: 60px;
    }
    .button{
        width: 200px;

    }
    .button span{
        font-size: 12px;
    }
    .buttonmap{
        width: 200px;

    }
    .buttonmap span{
        font-size: 12px;
    }
     .page1_blackbackground h1 {
        font-size: 45px;
    }
    .page1_blackbackground h2 {
        font-size: 27px;
    }
    .descript{
        padding-right: 0px;
    }


}
@media  (max-width: 900px){
    table{
        font-size: 15px;
    }
    th{
        padding: 5px 20px;
    }
    .map{
        display: none;
    }
    .sales{
        width:100%;
    }
    .buttoncost{
        display: block;
    }
    .sales_conteiner {
        display: none;
    }
     #ff{
        display: none;
    }
}
@media  (max-height: 760px){
    .page1_blackbackground h1 {
        font-size: 45px;
    }
    .page1_blackbackground h2 {
        font-size: 27px;
    }
    .descript{
        padding-right: 0px;
    }

}
@media  (max-width: 700px){
    .halfteam{
        display: none;
    }
    .conteiner{
        display: block;
    }
    .title2.news{
        text-align: center;
    }
    .descript{
        padding-right: 0px;
    }
    .half{
        display: none;
    }
    .half.flex{
        display: block;
        flex-basis: 100%;
        justify-content: space-around;
        height: 100%;
    }
    .low_screen{
        display: block;
        max-width: 40%;
        height: auto;
        text-align: center;
        margin: auto;
    }
    .llw{
        text-align: center;
    }
    .descriptllw{
        display: inline;
    }
    .filter h1{
        font-size: 25px;
    }
    .page1_blackbackground h1 {
        font-size: 25px;
    }
    .page1_blackbackground h2 {
        font-size: 15px;
    }
    .title2{
        font-size: 25px;;
    }
}

@media (max-width:900px){
    .button{
        width: 300px;
    }
    .button span{
        font-size: 20px;
    }
    .buttonmap{
        display: block;
        width: 300px;
    }
    .buttonmap span{
        font-size: 20px;
    }

}
@media (max-width: 500px) {
    #mainMenu {
        display: none;
    }

    table {
        display: none;
    }
    .page4 p {
        display: inline;
    }

    .sales_conteiner {
        height: 13%;
        padding-top: 15px;
        margin: auto;

    }
    .sales h1{
        margin-top: 15px;
    }
    .title2.news{
        margin-top: 0;
        padding-left: 0%;
    }
    .descript{
        margin-right: 20px;
        line-height: 1;
        font-size: 15px;;
        margin-top: 0%;
    }
    .chtable{
        display:block;
        position: absolute;
        white-space: pre-wrap;
        width: auto;
        top:50%;
        left:50%;
        margin-top: -125px;
        margin-left: -87px;

    }
}
@media (max-width: 350px){
    .button{
        width: 250px;
    }
    .buttonmap{
        width: 250px;
    }
    .buttoncost{
        width: 250px;
    }
}

